<!DOCTYPE html>
<html>
<head>
	<title>Chatbox</title>

	<link rel="stylesheet" type="text/css" href="/css/chat.css">

</head>
<body>

		<div id="chat-box">

			<div id="content">
				Other Message

			</div>

			<div id="content-2">
				Self Message

			</div>
		

			<form id="c-box">
					
					<input type="message" name ="message" id="m-box">

					<input type="submit" value="submit" id="button">

			</form>


		</div>



</body>
</html>