
<header>

<link rel="stylesheet" type="text/css" href="/css/header.css">

<div id=head>
		
		<span id="page_title"> SOCIAL CONNECT </span>
		<% if (locals.user){ %>
		<a href="/users/profile" class="sign"><%= user.name %></a>
		<a href="/users/sign-out"  class="signed">SIGN OUT</a>
		<% } else { %>
		<a href="/users/sign-in" class="sign">SIGN IN</a>
		<a href="/users/sign-up" class="signed">SIGN UP</a>
		<% } %>
		
</div>


</header>

