

<section>
    <h4>POSTS</h4>

    <form action="/posts/create" id="new-post-form" method="POST" placeholder="Type Here..">

        <textarea name="content" cols="30" rows="3"></textarea>
        <input type="submit" value="Post">

    </form>


</section>


