<link rel="stylesheet" href="/css/user_signup.css">
<form action="/users/create" method="POST" id="usrform">
			

    <input type="text" name="name" placeholder="Enter your name" required>

    <input type="email" name="email" placeholder="enter email" required>

    <input type="password" name="password" placeholder="enter password" required>
    
    <input type="password" name="confirm_password" placeholder="confirm password" required>

    <button id="but" type="submit" >SIGN UP</button>

</form>

