<link rel="stylesheet" href="/css/user_signin.css">


    <div id="signin">

        <div id="signin_title">SIGN IN</div>
            <form action="/users/create-session" method="POST">
            <label>Enter Your Email</label>
                <input type="email" name="email" placeholder="email     or username" required>
                <br>
                <br>
                <label>Enter Your Password</label>
                <input type="password" name="password" placeholder="enter password" required>
                <br>
                <br>
                <button type="submit" >SIGN IN</button>
            
            </form>

    </div>

<p> 
     
    <a href="/users/auth/google"> Google Sign in/Sign Up </a>

</p>

    