<h1>SIGN IN</h1>

<form action="/users/create-session" method="POST">

<input type="email" name="email" placeholder="email or username" required>
<input type="password" name="password" placeholder="enter password" required>
<button type="submit" >SIGN IN</button>

</form>