#head
{
	display: flex;
	justify-content: space-between; 
	margin:0;
	height: 7vh;
	width: 100%;
	color: white;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
    background-color: #1186F6;

    #page_title
    {

	display: block;
	font-size: 30px;
	font-weight: bolder;
    margin-top:12px;
    margin-left: 4px;
	
    }   

    .sign
    {
    margin-left: auto;
    margin-top: 10px;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    }

    .signed
    {
	margin-left: 25px;
	margin-top: 10px;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    }


}








