#profile_outer {
  height: 80vh;
  width: 50vw;
  border: 1px solid black;
  margin-left: 25%; }

#create-post {
  height: 200px;
  width: 500px;
  border: 1px solid black;
  margin-top: 50px;
  margin-left: 180px; }

#post-header {
  font-size: 25px;
  font-weight: bolder;
  border-bottom: 1px solid black; }

#post {
  margin-top: 20px; }

#postbox {
  margin-left: 50px; }

input {
  width: 500px; }

#user_comment {
  height: 55px;
  width: 500px;
  border: 1px solid black;
  border-left: 0;
  border-right: 0; }

#user_comment p {
  margin-left: 5px; }

#user_comment span {
  font-weight: bold; }

#user_post {
  width: 500px;
  height: 285px;
  border: 1px solid black;
  margin-left: 180px;
  margin-top: 10px; }

#post-title {
  display: block;
  font-weight: bolder;
  margin-top: 15px;
  margin-left: 8px; }

#posted {
  height: 50px;
  width: 450px;
  font-size: 30px;
  margin-left: 13px;
  text-align: justify; }

#comment {
  border-radius: 20px;
  margin-left: 20px; }
